body{
    background-color: black;
    color: white;
}

header{
    span{
        color: red;
    }
}

nav{
    a{
        text-decoration: none;
        color: red;
        &:hover{
            font-size: 24px;
            color: white;
        }
    }
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
main{
    #home{
        h3{
            color: red;
        }
        p{
            text-align: center;
            font-size: 20px;;
        }
    }
    #project{
        h3{
            color: red;
        }
        a{
        text-decoration: none;
        color: white;
        &:hover{
            font-size: 24px;
            color: red;
            text-decoration: underline;
        }
    }
    }
}
